$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.812rem;

$white: #fff;
$orange: #FF4343;
$orange_hover: #E71414;
$logo_color: #656980;
$dark_blue: #252B49;
$color_footer: #353C65;
$color_subfooter: #2C3154;
$border_hover: #BABBC5;
$border_active: #E71414;
$black_font: #2D3033;
$grey_font: #6C7279;
$color_slider: #7E5D6F;
$coral: coral;